
.wizardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flexColumn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 40vh;
}

.gameIcons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 53vh;
  justify-content: space-evenly;
}

.game_wiz {
  height: 9vh;

}


.buttonContainer {
  display: flex;
  justify-content: center;
}
.wizard-button {

  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  border-radius: 15px;
  text-shadow: 1px 2px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: #a6aeb3;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.gameName {
  text-align: center;
  display: flex;
  align-items: flex-end;
  height: 7vh;
}
.priceGameName {
  margin-top: 100px
}