
.wizardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 81vh;
  flex: 1;
  margin-bottom: 5%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 40vh;
}
.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.gameIcons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 53vh;
  justify-content: space-evenly;
}

.game_wiz {
  height: 9vh;
}
.lg_icon_wiz {
  height: 15vh;
}
.icon {
  transition: transform .2s;
}
.icon:hover {
  transform: scale(1.25);
}


.buttonContainer {
  display: flex;
  justify-content: center;
}
.inactive-wizard-button {

  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  border-radius: 15px;
  text-shadow: 1px 2px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: #a6aeb3;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin-top: 9%;
}
.active-wizard-button {
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  border-radius: 15px;
  text-shadow: 1px 2px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  background: #086788;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin-top: 9%;

}

.gameName {
  text-align: center;
  display: flex;
  align-items: flex-end;
  height: 7vh;
}
.priceGameName {
  text-align: center;
  margin-top: 100px;
  width: 56%;
}
.genreTitle{
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.shapewear {
  width: 30%;
}