@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.appOuterDiv{
    font-family: 'Ubuntu', sans-serif;
}
.mainBody{
    top: 73px;
    position: relative;
    color: #1D3557;
    // background: #EAF9F5;
}