@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.appOuterDiv{
    font-family: 'Ubuntu', sans-serif;
}
.mainBody{
    padding-top: 73px;
    min-height: calc(100vh - 54px);
    color: #1D3557;
}
body{
    width: 100vw;
    height: 97vh;
}
.notFound{
    text-align: center;
    margin: 10%;
}
.notFound img {
    max-width: 70%;
}
.notFound :any-link {
    color: rgb(8, 103, 136);
  }