// CSS for About Page Component
.aboutPageContainer {
    text-align: center;
    color: #457B9D;
    background: white;
}
.devItem{
    display: flex;
    width: 90%;
    height: 10%;
    margin: auto;
    text-align: left;
    // flex-direction: column;
    background-color: #FFFBFD;
    box-shadow: 1px 1px 2px #00a7e1;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 1% .0;

}
.devItem img {
    display: inline-flex;
    max-width: 25%;
    max-height: 25%;
    margin-left: 2%;
    vertical-align: text-top;
}
.devItem h3 {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
}
.devItem p {
    display: inline-flex;
    margin-bottom: 0;
}
.devItem span {
    margin-right: 6%;
}
.devItem a {
    color: #333;
}
.devText {
    margin-left: 4%;
    max-width: 75%;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: column;
}
.devIcons {
    flex-direction: row;
    margin-top: 2.5%;
}
.devIcons a{
    color: #F0C808;
}
.devIcons a:hover{
    text-shadow: 1px 1px 2px #333;
}
.aboutLabel{
    width:80%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
}
@media only screen and (min-width: 600px) {
    .devItem{
        width: 50%;
  }
  
  }