.header, .main-menu, .dropdownSearch{
    background: paleturquoise;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appName{
    margin: 20px 0;
}
.menu-icon{
    height: 55px;
    width: 51px;
    margin-left: 5px;
}
.search-icon{
    height: 45px;
    margin-right: 9px;
}
.main-menu, .browse-menu, .about-menu{
    list-style-type: none;
    padding-left: 10px;
}
.browse-menu, .about-menu{
    padding-bottom: 4px;
}
.main-menu{
    display: none;
    flex-direction: column;
    width: 32%;
    height: 100vh;
    position: absolute;
    top: 100%;
    margin: 0;
}
.browse-menu{
    display: none;
    flex-direction: column;
}
.about-menu{
    display: none;
    flex-direction: column;
}
.plus-icon{
    height: 16px;
    margin-right: 7px;
}
.plus-bar{
    display: flex;
    justify-content: space-between;
}
.dropdownSearch{
    display: none;
    justify-content: space-around;
    height: 40px;
}
.dropForm{
    position: relative;
}
.fa-search{
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 8px;
    opacity: .5;
}
.dropdownInput{
    height: 30px;
    width: 230px;
    padding-left: 30px;
}