.header, .main-menu, .dropdownSearch{
    background: paleturquoise;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appName{
    margin: 20px 0;
}
// -------------------------------------------
.menu-icon{
    z-index: 2;
    margin-left: 5px;
    transition: 0.5s;
}
.hamburger-animation{
    border: 4px solid #696969;
    border-radius: 5px;
    height: 38px;
    width: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.hamburger-animation div{
    background: #696969;
    border-radius: 10px;
    height: 5px;
    width: 23px;
    transition: .5s;
}
.hamburger-animation :nth-child(1){
    margin-top: 3px;
}
.hamburger-animation :nth-child(2){
    transform: initial;
}
.hamburger-animation :nth-child(3){
    position: absolute;
    top: 17px;
}
.hamburger-animation :nth-child(4){
    margin-bottom: 4px;
}
// -------------------------------------------
.search-icon{
    height: 45px;
    margin-right: 9px;
}
.main-menu, .browse-menu, .about-menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    padding: 0;
}
.nav-text{
    padding: 15px 0 15px 10px;
    font-size: 18px;
    border-top: 2px solid gray;
}
.nav-text-bottom{
    border-bottom: 2px solid gray;
}
.browse-menu, .about-menu{
    margin: 15px 0 0 10px;
    height: 0;
    overflow: hidden;
}
.browse-menu li, .about-menu li{
    font-size: 16px;
}
.main-menu{
    z-index: 1;
    position: fixed;
    width: 0;
    height: 100vh;
    top: 0;
    margin: 0;
    padding-top: 73px;
    overflow-x: hidden;
}
.glyphicon-plus, .glyphicon-minus{
    margin-right: 9px;
    padding-top: 2px;
}
.plus-bar{
    display: flex;
    justify-content: space-between;
}
.menu-overlay{
    position: fixed;
    height: 101vh;
    width: 100vw;
    background: rgba(0,0,0,.4);
    transform: translate(0%, 44%);
    overflow: hidden;
    transition: 0.5s;
}
.dropdownSearch{
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
    transition: 0.5s;
}
.dropForm{
    position: relative;
}
.fa-search{
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 8px;
    opacity: .5;
}
.dropdownInput{
    height: 30px;
    width: 230px;
    padding-left: 30px;
}
