.header, .main-menu, .dropdownSearch{
    background: paleturquoise;
}
.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appName{
    margin: 20px 0;
}
.menu-icon{
    z-index: 2;
    height: 55px;
    width: 51px;
    margin-left: 5px;
    background: paleturquoise;
    transition: 0.5s;
}
.search-icon{
    height: 45px;
    margin-right: 9px;
}
.main-menu, .browse-menu, .about-menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    padding: 0;
}
.main-menu li{
    padding-left: 10px;
    font-size: 18px;
}
.browse-menu, .about-menu{
    margin-top: 0;
    height: 0;
    overflow: hidden;
}
.browse-menu li, .about-menu li{
    font-size: 16px;
}
.main-menu{
    z-index: 1;
    position: fixed;
    width: 0;
    height: 100vh;
    top: 0;
    margin: 0;
    padding-top: 75px;
    overflow-x: hidden;
}
.plus-icon{
    height: 16px;
    margin-right: 7px;
}
.plus-bar{
    display: flex;
    justify-content: space-between;
}
.dropdownSearch{
    display: flex;
    justify-content: space-around;
    overflow-y: hidden;
    transition: 0.5s;
}
.dropForm{
    position: relative;
}
.fa-search{
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 8px;
    opacity: .5;
}
.dropdownInput{
    height: 30px;
    width: 230px;
    padding-left: 30px;
}