.carousel-container {
    /* border: 4px solid #A8DADC; */
    border-radius: 18px;
    position: relative;
    height: 500px;
    width: 500px;
    overflow: hidden;
    margin: auto;
    max-height: 500px;
}

.carousel-text {
    margin: 2% 0;
}

.carousel-img {
    width: 100%;
    min-height: 100%;
}

/* Next Image Classes */

.carousel-next-enter {
  left: 100%;
}

.carousel-next-enter.carousel-next-enter-active {
  left: 0;
  transition: left 500ms ease-in-out;
}

.carousel-next-leave {
  right: 0;
}

.carousel-next-leave.carousel-next-leave-active {
  right: 100%;
  transition: right 500ms ease-in-out;
}

/* Previous Image Classes */

.carousel-previous-enter {
  /* opacity: 0.01; */
  right: 100%;
}

.carousel-previous-enter.carousel-previous-enter-active {
  right: 0;
  transition: right 500ms ease-in-out;
}

.carousel-previous-leave {
  left: 0;
}

.carousel-previous-leave.carousel-previous-leave-active {
  left: 100%;
  transition: left 500ms ease-in-out;
}

/* Fade Image Classes */

.carousel-fade-enter {
  opacity: 0.01;
}

.carousel-fade-enter.carousel-fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.carousel-fade-leave {
  opacity: 1;
}

.carousel-fade-leave.carousel-fade-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in-out;
}

/* Image Indicator */

.indicators {
    display: flex;
    width: 40%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
}

.indicators .dot {
    border: 2px solid #F0C808;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin: auto;
    width: 10px;
}

.indicators .dot.active {
    background-color: #F0C808;
}

button i{
  font-size: 50px;
  color: #086788;
  margin: 0 12px;
}
.loadingImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingImage img {
  transform: translateY(25%);
}
.genreLabel {
  opacity: .5;
}

@media only screen and (max-width: 600px) {
  .carousel-container {
    height: 300px;
    width: 300px;
}
.indicators {
  width: 80%;
}

}
