// CSS for General Use Components
.center-all {
    margin: auto;
}
.generalTextContainer {
    width: 80%;
    // height: 20%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.generalTextContainer p {
    font-size: 1em;

}